.title-bar {
    display: flex;
    width: 40svh;
    max-width: 40svh;
    flex-direction: row;
}

.top {
    display: block;
}

.login-bar {
    height: 30svh;
    width: 20svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1svh;
}
