
.duck {
  user-select: none;
  cursor: grab;
  transition: transform 0.2s ease, opacity 0.1s ease;
  width: 7.6svh;
  max-width: 7.6svh;
  height: 8.3svh;
  max-height: 8.3svh;

  display: flex;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-image: url('../assets/duck.svg');
  z-index: 1;
}

.duck:active {
  cursor: grabbing;
}

.duck-line {
  display: flex;
  margin-bottom: 31%;
  width: 45svh;
  height: 9svh;
  justify-content: center;
  border-bottom: 1px solid rgb(178, 178, 178);
}

.duck-letter {
  position: relative;
  height: 100%;
  width: 100%;
  padding-left: 2svh;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "Arvo", serif;
  font-style: normal;
  font-size: 4svh;

  -webkit-mask-image: url('../assets/duck.svg');
  mask-image: url('../assets/duck.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.centered {
  color: white; 
}

.duck-menu {
  width: 25svh;
  height: 25svh;
  margin-bottom: 9svh;
  display: flex;
  position: relative;
  flex-direction: column;
}

.container {
  position: relative;
  width: 50svh;
  height: 100svh;
  max-height: 100svh;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid gray;
}
.duck-0, .duck-1, .duck-2, .duck-3, .duck-4, .duck-5, .duck-6 {
  position: absolute;
}

.duck-0 {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.duck-1 {
  left: 70%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.duck-2 {
  left: 90%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.duck-3 {
  left: 70%;
  top: 80%;
  transform: translate(-50%, -50%);
}

.duck-4 {
  left: 30%;
  top: 80%;
  transform: translate(-50%, -50%);
}

.duck-5 {
  left: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.duck-6 {
  left: 30%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.pond {
  position: absolute;
  user-select: none;
  z-index: -1;
  height: 25.5svh;
  max-height: 25.5svh;
  bottom: 15.5svh;
  transform: translateX(1.5%);
}

.shuffle {
  height: 3svh;
  width: 3svh;
  padding: 1.3svh;
  border-radius: 100%;
  overflow: visible;
  margin-left: 2svh;
  margin-right: 2svh;
}

.reset {
  position: absolute;
  height: 3svh;
  width: 3svh;
  padding: 1.3svh;
  border-radius: 100%;
  overflow: visible;
  margin-left: 4.3svh;
  margin-right: 2svh;
  align-self: flex-start;
  top: 3.5svh;
}

.bottom-bar {
  width: 90%;
  height: 5svh;
  margin-bottom: 4svh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.status-message {
  position: absolute;
  top: 22%;
  color: black;
  font-size: 1.5svh;
  font-family: "Arvo", serif;
  font-weight: regular;
  background-color: rgb(240, 240, 240);
  padding-top: 1svh;
  padding-bottom: 0.8svh;
  padding-left: 1.5svh;
  padding-right: 1.5svh;
  border-radius: 0.7svh;
}

.status-message.empty {
  background-color: transparent;
}

.mask {
  display: none;
}

.vanilla-flap {
  animation: vanilla-flap 0.2s steps(1) infinite;
}

.flap {
  animation: flap 0.2s steps(1) infinite;
}

.shake {
  animation: shake 0.4s steps(1) infinite;
}

@keyframes vanilla-flap {
  0% {
    background-image: url('../assets/duck.svg');
  }
  40% {
    background-image: url('../assets/duck-fly.svg');
  }
  100% {
    background-image: url('../assets/duck.svg');
  }
}

@keyframes flap {
  0% {
    background-image: url('../assets/duck.svg');
  }
  40% {
    background-image: url('../assets/duck-fly.svg');
    transform: translateY(-2%);
  }
  100% {
    background-image: url('../assets/duck.svg');
  }
}

@keyframes shake {
  0% {
    background-image: url('../assets/duck.svg');
  }
  15% {
    background-image: url('../assets/duck-shake.svg');
    background-size: 94%;
  }
  100% {
    background-image: url('../assets/duck.svg');
  }
}