
.duck {
  position: relative;
  user-select: none;
  cursor: grab;
  transition: transform 0.2s ease, opacity 0.1s ease; /* Smooth transition for transform and opacity */
  display: inline-block;
  width: 100%;
  height: 100%; /* Ensure the duck container has a height */
  overflow: hidden; /* Prevent overflow from the container */
  will-change: transform, opacity; /* Optimize for performance */
  z-index: 1;
}

.duck:active {
  cursor: grabbing;
}

.duck-clone{
  width: 8.6svh;
  height: 8.6svh;
}

.duck-line {
  margin-bottom: 30%;
  width: 40svh;
  height: 9svh;
  justify-content: center;
  border-bottom: 1px solid rgb(178, 178, 178);
}


.duck-letter {
  position: absolute;
  height: 112.2%;
  z-index: 2;
  top: 0;
  width: 37%;
  right: 15%;
  color: black;
  font-weight: medium;
  font-family: "Arvo", serif;
  font-style: normal;
  font-size: 3.7svh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* -webkit-mask: url(#duckMask);
  mask: url(#duckMask);
  mask-size: 100%;
    -webkit-mask-size: 100%; */
}

.duck-letter.centered {
  color: white; 
}

.duck {
  position: absolute;
  width: 8svh;
  height: 8svh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.duck-menu {
  width: 25svh;
  height: 25svh;
  margin-bottom: 12svh;
  display: flex;
  position: relative;
  flex-direction: column;
}

.container {
  width: 50svh;
  height: 100svh;
  top: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid gray;
}

.duck-0 {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.duck-1 {
  left: 70%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.duck-2 {
  left: 90%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.duck-3 {
  left: 70%;
  top: 80%;
  transform: translate(-50%, -50%);
}

.duck-4 {
  left: 30%;
  top: 80%;
  transform: translate(-50%, -50%);
}

.duck-5 {
  left: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.duck-6 {
  left: 30%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.button {
  z-index: 3;
  width: 12svh;
  color: black;
  font-size: 1.7svh;
  font-family: "Arvo", serif;
  font-weight: regular;
  background-color: rgb(240, 240, 240);
  padding: 0.9svh;
  padding-bottom: 0.8svh;
  border-radius: 0.7svh;
  border: none;
  cursor: pointer;
}

.shuffle {
  height: 3svh;
  width: 3svh;
  padding: 1.3svh;
  border-radius: 100%;
  overflow: visible;
  margin-left: 2svh;
  margin-right: 2svh;
}

.reset {
  position: absolute;
  height: 3svh;
  width: 3svh;
  padding: 1.3svh;
  border-radius: 100%;
  overflow: visible;
  margin-left: 4.3svh;
  margin-right: 2svh;
  align-self: flex-start;
  top: 3.5svh;
}

.bottom-bar {
  width: 90%;
  height: 5svh;
  margin-bottom: 5svh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.status-message {
  position: absolute;
  top: 22%;
  color: black;
  font-size: 1.5svh;
  font-family: "Arvo", serif;
  font-weight: regular;
  background-color: rgb(240, 240, 240);
  padding-top: 1svh;
  padding-bottom: 0.8svh;
  padding-left: 1.5svh;
  padding-right: 1.5svh;
  border-radius: 0.7svh;
}

.status-message.empty {
  background-color: transparent;
}

.mask {
  display: none;
}


.duck-image {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url('../assets/duck.svg');
  transition: opacity 0.1s ease;
  z-index: -1;
}

.flap {
  animation: flap 0.2s steps(1) infinite;
  will-change: background-image; 
}

.shake {
  animation: shake 0.4s steps(1) infinite;
  will-change: background-image;
}


@keyframes flap {
  0% {
    background-image: url('../assets/duck.svg');
  }
  40% {
    background-image: url('../assets/duck-fly.svg');
    background-size: 102%;
  }
  100% {
    background-image: url('../assets/duck.svg');
  }
}

@keyframes shake {
  0% {
    background-image: url('../assets/duck.svg');
  }
  15% {
    background-image: url('../assets/duck-shake.svg');
    background-size: 95%;
    background-position: right bottom;
  }
  100% {
    background-image: url('../assets/duck.svg');
  }
}