
.duck {
  position: relative;
  user-select: none;
  cursor: grab; 
  transition: transform 0.2s ease;
  display: inline-block;
  width: 100%;
}

.duck:active {
  cursor: grabbing;
}

.duck-image {
  width: 100%;
  height: 90%;
  bottom: 0;
  display: block;
  object-fit: contain;
}

.duck-clone{
  width: 8.6vh;
  height: 8.6vh;
}

.duck-line {
  margin-bottom: 30%;
  width: 40vh;
  height: 9vh;
  justify-content: center;
  border-bottom: 1px solid rgb(178, 178, 178);
}


.duck-letter {
  position: absolute;
  z-index: 3;
  height: 112.2%;
  top: 0;
  width: 37%;
  right: 15%;
  color: black;
  font-weight: medium;
  font-family: "Arvo", serif;
  font-style: normal;
  font-size: 3.7vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* -webkit-mask: url(#duckMask);
  mask: url(#duckMask);
  mask-size: 100%;
    -webkit-mask-size: 100%; */
}

.duck-letter.centered {
  color: white; 
}

.duck {
  position: absolute;
  width: 8vh;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.duck-menu {
  width: 25vh;
  height: 25vh;
  margin-bottom: 12vh;
  display: flex;
  position: relative;
  flex-direction: column;
}

.container {
  width: 50vh;
  height: 100vh;
  top: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid gray;
}

.duck-0 {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.duck-1 {
  left: 70%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.duck-2 {
  left: 90%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.duck-3 {
  left: 70%;
  top: 80%;
  transform: translate(-50%, -50%);
}

.duck-4 {
  left: 30%;
  top: 80%;
  transform: translate(-50%, -50%);
}

.duck-5 {
  left: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.duck-6 {
  left: 30%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.button {
  z-index: 3;
  width: 12vh;
  color: black;
  font-size: 2vh;
  font-family: "Arvo", serif;
  font-weight: regular;
  background-color: rgb(240, 240, 240);
  padding: 1vh;
  padding-bottom: 0.9vh;
  border-radius: 0.7vh;
  border: none;
  cursor: pointer;
}

.reset {
  height: 4vh;
  width: 4vh;
  padding: 1.3vh;
  border-radius: 100%;
  overflow: visible;
  margin-left: 2vh;
  margin-right: 2vh;
}

.bottom-bar {
  width: 90%;
  height: 5vh;
  margin-bottom: 5vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.status-message {
  position: absolute;
  top: 22%;
  color: black;
  font-size: 1.5vh;
  font-family: "Arvo", serif;
  font-weight: regular;
  background-color: rgb(240, 240, 240);
  padding-top: 1vh;
  padding-bottom: 0.8vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  border-radius: 0.7vh;
}

.status-message.empty {
  background-color: transparent;
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid red;
}

