.dropdown {
    position: absolute;
    top: 12%;
    width: 75%;
    z-index: 2;
    background-color: rgb(240, 240, 240);
    padding: 2vh;
    padding-bottom: 0.9vh;
    padding-top: 0;
    overflow: hidden;
    transition: 0.2s ease;
    border-radius: 1vh;
    z-index: 5;
    border: none;
}

.dropdown.container {
    transform-origin: top;
    top: 16%;
    display: block;
    height: 78vh;
    max-height: 78vh;
    padding-top: 1.5vh;
}

.dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5vh;
  }
  .dropdown-list.open {
    display: block;
    height: 66vh;
    max-height: 66vh;
    margin-bottom: 10vh;
    background-color: rgb(240, 240, 240);
    column-count: 3;
    column-gap: 2.5vh;
    column-fill: auto;
  }

  .dropdown-list.open li {
    margin-bottom: 1.2vh;
    border-bottom: 1px solid white;
    overflow: hidden;
  }

  .dropdown-list.closed {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 2vh;
    padding-bottom: 0.3vh;
    gap: 1.5vh;
    overflow: hidden;
    height: 2vh;
  }
  
  .dropdown-toggle {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 1vh;
    padding: 2.15vh;
    padding-right: 1.5vh;
    padding-left: 30vh;
    background: linear-gradient(90deg, transparent, rgb(240, 240, 240));
    z-index: 4;
  }

  .dropdown-toggle.down {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
  }

  .words-found {
    padding: 0;
    margin: 0;
    font-size: 1.5vh;
    padding-top: 2vh;
    padding-bottom: 0.5vh;
    height: 2vh;
  }
